body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.expense_transaction {
  color: #ccc;
  background-color: #fa0a0a;
}

.income_transaction {
  color: #ccc;
  background-color: #CE7777;
} 