body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
}

.expense_transaction {
  background-color: #fa0a0a;
}

.income_transaction {
  background-color: #00fb00;
} 