.transaction_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.transaction_title {
  margin: 10px 0;
  border-bottom: 1px solid grey;
}

.transaction_body {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.transaction_body h5,
p {
  margin: 0;
}

.transaction_body p {
  font-size: 12px;
}

.transaction_input {
  margin: 5px 0;
  padding: 2px 5px;
}

.add_transaction {
  margin: 7px 0;
  padding: 7px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4e3ff7;
  border: 1px solid #4e3ff7;
  transition: 0.01s all ease-in-out;
}

.add_transaction:hover {
  background-color: #4d3df9df;
}

.add_transaction:active {
  background-color: white;
  color: #4e3ff7;
  border: 1px solid #4e3ff7;
}

.btn_not_active {
  margin: 7px 0;
  padding: 7px;
  color: white;
  cursor:not-allowed;
  border-radius: 5px;
  background-color: gray;
  border: 1px solid #040404;
  transition: 0.01s all ease-in-out;
}
